<!DOCTYPE html>
<html>
<head>
	<title>Login page</title>
	<style type="text/css">
     form
     {
     	 background-color: moccasin;
     	 text-align:center;
     	 padding: 3px;
     	 margin-left:230px;
     	 margin-right:230px;
     }
 </style>
</head>
</body>
	 <h2 style='background-color:green;margin-left:230px;marigin-right:230px;text-align:center;padding:5px'>Login Form</h2>
	 <form>
<label>Name:</label>
<input type="text"name=""></br></br>
<label> password:</label>
<input type="password" name=""></br>

<button>Login</button>
</form>
</body>
</html>